<%- include ('partials/header') %>

<div class="ui main text container">
  <div class="ui huge header">Cover Letters Application</div>
  <p class="ui inverted segment">
    Current covers count: <%= Object.keys(blogs).length; %>
  </p>
  <div class="ui top segment">
    <div class="ui divided items">
      <% blogs.forEach(function(blog) { %>
      <div class="item">
        <div class="image">
          <img
            src="https://s3.amazonaws.com/ahmedamsoliman-replica/IAM/Instagram/01_10_Oct_2019_001_120723_185.jpg"
          />
        </div>

        <div class="content">
          <a class="header" href="/blogs/<%= blog._id%>"> <%= blog.title %> </a>
          <div class="meta">
            <span> <%= blog.created.toDateString() %> </span>
          </div>
          <div class="desciption">
            <p><%= blog.body.substring(0, 100) %>...</p>
          </div>
          <div class="extra">
            <a
              class="ui floated basic violet button"
              href="/blogs/<%= blog._id%>"
            >
              Read More
              <i class="right chevron icon"></i>
            </a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<%- include ('partials/footer') %>
