<%- include ('partials/header') %>

<div class="ui main text container segment">
  <div class="ui huge header"><%= blog.title%></div>
  <div class="ui top attaced">
    <div class="item">
      <img
        class="ui centered rounded image"
        src="https://s3.amazonaws.com/ahmedamsoliman-replica/IAM/Instagram/01_10_Oct_2019_001_120723_185.jpg"
      />
      <div class="content">
        <span> <%= blog.created.toDateString() %> </span>
      </div>
      <div class="description">
        <p><%- blog.body %></p>
      </div>
      <textarea class="description" id="textbox"><%- blog.body %></textarea>
      <br />
      <br />
      <button id="clipboard" onclick="copyText()" class="ui green full button">
        Copy
      </button>
      <a class="ui blue basic button" href="/blogs/<%= blog._id%>/edit">Edit</a>
      <form
        id="delete"
        action="/blogs/<%= blog._id%>?_method=DELETE"
        method="POST"
      >
        <button class="ui red basic button">Delete</button>
      </form>
    </div>
  </div>
</div>

<%- include ('partials/footer') %>
